/* @import url(<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,600|Montserrat:300,500" rel="stylesheet">); */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.main_background {
    position: fixed;
    background-color: #FDF6EE;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.main_content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Cormorant SC', serif;
    overflow: hidden;
}

.header {
    padding: 0 0 0 0;
}

#navbar_logo{
    background-color: #464347;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    cursor: pointer;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 4rem;
}

.links {
    justify-content: center;
}

.navbar_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-right: 4%;
    height: 50px;
}

.navbar_links {
    color: #a88974;
    display: flex;
    width: 130px;
    text-decoration: none;
    z-index: 100;
    transition: all 0.3s ease;
    text-transform: uppercase;
    justify-content: center;
}

.navbar_links:hover {
    color: #EED8A8;
    transition: all 0.3s ease;
}

.blurb {
    font-family: 'Cardo', sans-serif;
    background-color: #BDC6AF;
    width: 40%;
    z-index: 1;
    display: inline-block;
    padding: 4%;
    font-family: 'Cormorant SC', serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    color: #464347;
}

.decoration {
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: flex;
    width: 50%;
    height: 70%;
    z-index: -1;
    border-style: solid;
    border-color: #464347;
   
}

@media screen and (max-width: 960px) {
    .main_content {
        position: relative;
        display: flex;
        height: 80%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 1300px;
        margin: 4% 4%;
    }

    .header {
        justify-content: center;
    }

    #navbar_logo {
        font-size: 30px;
    }
    
    .links {
        justify-content: center;
        width: 100%;
    }

    .navbar_menu {
        justify-content: center;
        padding-right: 4%;
        height: 40px;
    }

    .navbar_links {
        font-size: 12px;
        max-width: 60px;
    }
    .blurb {
        display: inline-block;
        width: 80%;
        height: 40%;
        padding: 5%;
        justify-content: center;
        font-size: 8px;

    }
    .decoration {
        position: absolute;
        left: 5%;
        right: 5%;
        width: 90%;
        height: 40%;
        display: flex;
        justify-content: center;

    }
}


