/* @import url(<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,600|Montserrat:300,500" rel="stylesheet">); */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.main_background {
    position: fixed;
    background-color: #4F6C6B;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.main_content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Cormorant SC', serif;
    overflow: hidden;
}

.header {
    padding: 0 0 0 2%;
}

.links {
    padding: 0 0 0 5%;
}

.navbar_links {
    color: #EAE6E1;
    display: flex;
    width: 130px;
    text-decoration: none;
    z-index: 100;
    transition: all 0.3s ease;
    text-transform: uppercase;
    text-align: center;
}

.navbar_links:hover {
    color: #DD7564;
    transition: all 0.3s ease;
}

#navbar_logo{
    background-color: #fff;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    cursor: pointer;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 4rem;
    text-align: center;
}

.navbar_item{
    height: 80px;
}

.navbar_menu {
    display: flex;
    list-style: none;
}

.blurb {
    font-family: 'Cardo', sans-serif;
    background-color: #EDEDED;
    width: 40%;
    z-index: 1;
    display: inline-block;
    padding: 4%;
    font-family: 'Cormorant SC', serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    color: #6B686D;
}

.decoration {
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: flex;
    width: 50%;
    height: 50%;
    z-index: -1;
    border-style: solid;
    border-color: #39383a;
   
}

@media screen and (max-width: 960px) {
    .main_content {
        display: table-cell;
        max-width: 1300px;
        margin: 5% 10%;
    }
    .header {
        width: 100%;
    }
    #navbar_logo {
        font-size: 50px;
    }
    .links {
        justify-content: space-between;
    }
    .navbar_links {
        font-size: 12px;
        max-width: 100px;
    }
    .blurb {
        position: absolute;
        left: 8%;
        right: 8%;
        width: 84%;
        display: flex;
        justify-content: center;
        font-size: 14px;
        margin-top: 5%;
    }
    .decoration {

        width: 90%;
        display: flex;
        justify-content: center;

    }


}


